.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  font-size: 17px;
  line-height: 1.19;
  font-weight: 600;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media screen and (min-width: 500px) {
  .btn {
    font-size: 22px;
  }
  .list {
    margin-right: 20px;
  }
  .title {
    font-size: 27px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 24px;
  }
  .title {
    font-size: 33px;
  }
}
