.btn {
  background-color: var(--btn-color);

  text-decoration: wavy;
  font-weight: inherit;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 2px 2px 2px 1px rgb(34 60 80 / 57%);
  /* box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2); */
}
.btn:hover {
  /* color: var(--accent-color); */
  box-shadow: 0px 0px 2px 1px rgb(34 60 80 / 57%);
}
.price {
  color: var(--green-color);
  margin-left: 10px;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 500px) {
  .price {
    margin-left: 30px;
  }
  .btn {
    margin-left: 10px;
  }
  .link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    margin-left: 20px;
  }
  .link {
    font-size: 22px;
  }
}
