.img {
  width: 76px;
  height: 60px;
}

.list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.item {
  margin-bottom: 5px;
  margin-right: 5px;
}
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media screen and (min-width: 400px) {
  .img {
    width: 90px;
    height: 70px;
  }
  .title {
    font-size: 22px;
    line-height: 1.19;
    font-weight: 700;
  }
}

@media screen and (min-width: 500px) {
  .img {
    width: 100px;
    height: 140px;
  }
  .title {
    font-size: 27px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 200px;
    height: 180px;
  }
  .title {
    font-size: 33px;
  }
}
