.img {
  width: 76px;
  height: 60px;
}

.list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.item {
  margin-bottom: 5px;
  margin-right: 5px;
}
@media screen and (min-width: 400px) {
  .img {
    width: 90px;
    height: 70px;
  }
}

@media screen and (min-width: 500px) {
  .img {
    width: 100px;
    height: 140px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 200px;
    height: 180px;
  }
}
